.navbar-nav {
	display:table;
	width:90%;
	margin:0;
}

.navbar-nav > li {
	float:none;
	display:table-cell;
	text-align:center;
}

.list-group {
   max-height:300px;
   overflow-y:auto;  
}

.btn-streaming {
    background-color: lightgreen;
}
button.on {
    background-color: red;
}

.connection_details {
    display: none;
    padding-top:20px;
}
.connection_details .show {
    display: inline-block;
}

.remove-widget {
    width: 25px;
    height: 25px;    
    margin-top: 16px;
    margin-right: 16px;
    right:0;

    font-size: 10px;
  	font-weight: 400;

  	text-align: center;
  	z-index: 30;
}

.remove-widget:hover {
  background-color: rgb(0, 145, 240);
  color: white;
}

.add-channel {
    width: 75px;
    height: 25px;    
    margin-bottom: 30px;
    margin-right: 80px;
    right:0;
    bottom:0;

    font-size: 10px;
    font-weight: 400;

    text-align: center;
    z-index: 1000;
}

.change-chart {
    margin-top: 20px;
}

.upload {
    bottom: 0;
    height: 50px;
    width: 99%;
    right: 0;
}

.upload2{
  position: relative;
  right: 1170px;
}

.bottom_left{
    position:absolute;
    bottom:0;
    margin: auto;
    align="left";
    z-index: 50;
    left: 0px;
}

.upload_btn{
    display: none;
}