<h1 align="center"> Dashboard </h1>


<div ng-controller="dashboardChartCtrl">

<div class="row">
  <span class="bottom_left"> <div class="upload">
      <input type="file" file-reader="fileContent" />
      <button class="btn btn-primary btn-xs upload_btn" ng-click="import()" ng-disabled="!uploadEnabled" ng-class="{show: upload_btn}">{{uploadText}}</button>
   </div></span>

   <wg-grid columns="20" rows="15" options="{ clickThrough: true, showGrid: showGrid}" style="width: 100%; height: 80%;">
      <div ng-repeat="chart in charts">
         <div dashboard-dir></div>
      </div>
   </wg-grid>
   
   <div style="position:absolute; bottom:0; height:50px; width:99%;" align="right">
      <span class="dropup closed">
         <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" ng-disabled="isNotLocked == false">
            Add Chart
         </button>
         <div class="dropdown-menu">
            <div ng-repeat="type in chartTypes">
               <a class="dropdown-item" href="#/Dashboard" ng-click="addChart(type)">{{type}}</a>
            </div>
         </div>
      </span>
      <button ng-click="toggle()" class="btn btn-warning">{{text}}</button>
   </div>
</div>

<script>
   $( document ).ready(function() {
      console.log( "ready!" );
   });
</script>
