<h1 align="center"> Wireless Telemetry </h1>

<div class="container-fluid" ng-controller="WirelessController">
	<div class="row" align="center">
		<button ng-click="toggle()" class="btn btn-large btn-streaming" ng-class="{on:btnState}">{{btnText}}</button>
		<button class="btn btn-info" ng-click="connectionDetails()">Change Connection Details</button>
		<button class="btn btn-default" ng-click="toggleSource()">{{dataSource}}</button>
		<br>
		<div class="connection_details form-group col-xs-2 col-xs-offset-5" align="center" ng-class="{show:connectionState}"> 
			<label for"IP_add">IP Address:</label>
			<input type="text" class="form-control" ng-model="ip_add" id="ip_add">
			<label for"port_num">Port Number:</label>
			<input type="number" class="form-control" ng-model="port_num" id="port_num">
			<br>
			<button ng-click="saveConnectionDetails()" class="btn btn-success">Save</button>
	    </div>
	</div>
	<br> 
   
   <div ng-repeat="channel in channels track by channel.id">
      <div class="container-fluid">
         <div class="col-md-6">
            <!-- <h2>{{channel}}</h2> -->
         </div>
         <div class="col-md-6">
            <div class="dropdown change-chart pull-right">
               <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change chart type</button>
               <ul class="dropdown-menu">
                  <div ng-repeat="chart in chartTypes">
                     <li><a href="#/WirelessTelemetry" ng-click="changeChartType(channel.id, chart)">{{chart}}</a></li>
                  </div>
               </ul>
            </div>
         </div>
         <div highcharts-graph options="initialOptions" id={{channel.id}}></div>
      </div>
   </div>
</div>
