<wg-widget wg-movable wg-resizable ng-attr-editable="{{isNotLocked}}" position="chart.position" options="{ clickThrough: true }">
    <button title="Remove Chart" class="btn btn-danger remove-widget" type="button" ng-show="isNotLocked == true" ng-click="removeChart(chart)">&#x2715;</button>
    <div ng-dropdown-multiselect="" class="add-channel dropup" options="channels" selected-model="selectedChannels[chart.id]" extra-settings="channelSettings" ng-click = "addChannel(chart)"></div>
    <div id={{chart.id}}></div>
</wg-widget>